body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #3B3B3B;
}

.container-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px 30px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 37px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}
 
p {
    margin-top: 5px;
    margin-bottom: 0;
}

section {
    width: 100%;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-banner-div {
    z-index: 0;
    position: absolute;
    width: 200%;
    height: 200%;
    transform: translate(-10%, -30%) rotate(-12deg);
    background-color: #cee9f7;
}

.hero-wrapper-left {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    aspect-ratio: 1 / 1.2;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.3);
}

.hero-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.hero-image-overlay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,212,255,0) 50%);
}

.hero-heading {
    z-index: 3;
    position: absolute;
    bottom: 30px;
    color: white;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}

.hero-wrapper-right {
   position: relative;
   width: 60%;
   aspect-ratio: 1.7 / 1;
   z-index: 1;
   background-color: white;
   box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.3);
   padding: 30px 20px 30px 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
}

.hero-text {
   font-size: 16px;
   line-height: 1.5;
   margin-top: 30px;
}

.link-wrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 15px;
}

.social {
    width: 30px;
}